[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"dragn.npi" = {editable = true, path = "."}
numpy = "*"
torch = "==1.5.1"
torchvision = "==0.6.1"
scipy = "*"
six = "*"
boto3 = "*"
requests = "*"
tqdm = "*"
regex = "*"
sacremoses = "*"
matplotlib = "*"
scikit-learn = "*"
spacy = "*"
pandas = "*"

[dev-packages]
autopep8 = "*"
ipykernel = "*"

[requires]
python_version = "3.8"
